@import url(https://pro.fontawesome.com/releases/v5.10.0/css/all.css);
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;500;800&display=swap');
body {
    font-family: 'Poppins', sans-serif;
}

.group:hover .group-hover\:inline-block {
    display: inline-block;
}
.group:hover .group-hover\:flex-grow {
    flex-grow: 1;
}

.MobileMenu {
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: white; /* O el color de fondo que desees */
  z-index: 10; /* Ajusta según sea necesario */
}

body {
  padding-bottom: 70px; /* Ajusta este valor según la altura de tu MobileMenu */
}
